
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="keywords" content="고려대학교, 탄소중립, 자산관리, 탄소중립 자산관리" />
        <meta name="description" content="ESG기반 스마트 캠퍼스 인프라 혁신사업 관련 스마트 자산관리"/>
        <meta name="author" content="고려대학교" /> 

        <!-- 상태바 색상-->
        <meta name="theme-color" content="#0A8467"/>
        <meta name="msapplication-navbutton-color" content="#0A8467" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#0A8467" />

        <!-- 홈화면추가시 주소창 제거 -->
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        
        <title>자산관리시스템</title>
        
        <link rel="stylesheet" href="/css/total.css">

        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/index.js"></script>
        <script>
            var pageUrl ='';
            
            $(document).ready(function(){ 
                onLoad();
            })
    
            function onLoad(){
    
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
    
                const modex = urlParams.get("modex");
                
                //const room = urlParams.get("room");
    
                //$("#mainContent").load("/classroom");
            }
        </script>
    </head>
    <body>
        <!-- skip 네비게이션 영역 -->
        <nav id="skipToContent">
            <ul>
                <li><a href="#container">본문 바로가기</a></li>
                <li><a href="#gnb">주메뉴 바로가기</a></li>
                <li><a href="#header">상위메뉴 바로가기</a></li>
                <li><a href="#footers">하위메뉴 바로가기</a></li>
            </ul> 
        </nav>
        <!-- skip 네비게이션 영역 -->

        
        <section id="popup_wrap">
            <h2 class="title">신청자 목록</h2>
            <!-- grid -->
            <div id="grid_wrap" class="grid">
                <!-- grid title -->
                <div class="grid-container_applicantCheckPopup grid_item_bg">
                    <span class="grid-item">이름</span>
                    <span class="grid-item">이메일</span>
                    <span class="grid-item">연락처</span>
                        <%
                        if(appliV == 0)
                        {
                        %>
                        <span class="grid-item">선정</span>
                        <%
                        }
                        %>
                    </div>
                    <%
                    for (var i = 0; i < arr_aplic.length; i++)
                    {
                    %>
                    <div class="grid-container_applicantCheck">
                        <span class="grid-item2"><%=arr_aplic[i]['name']%></span>
                        <span class="grid-item2"><%=arr_aplic[i]['mail']%></span>
                        <span class="grid-item2"><%=arr_aplic[i]['tel']%></span>
                        <%
                        if(appliV == 0)
                        {
                        %>
                        <span class="grid-item2">
                            <button class="green_btn btn_none" onclick="requestReusable(<%=resuNo%>,'<%=arr_aplic[i]['name']%>','<%=arr_aplic[i]['mail']%>','<%=arr_aplic[i]['userid']%>')">선정</button>
                        </span>
                        <%
                        }
                        %>
                    </div>
                    <%
                    }
                    %>
                </div>                
                <!-- grid inner -->
            </div>
            <!-- grid -->

            <!-- pagination -->
            <div id="report_page" class="pagination">
                <ul>
                    <li>
                        <a href="#none" class="first">
                            <img src="/images/page_prev.svg" alt="처음 페이지 이동 화살표">
                        </a>
                    </li>
                    <li>
                        <a href="#none" class="num active">1</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">2</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">3</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">4</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">5</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">6</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">7</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">8</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">9</a>
                    </li>
                    <li>
                        <a href="#none" class="num active">10</a>
                    </li>
                    <li>
                        <a href="#none" class="last">
                            <img src="/images/page_next.svg" alt="마지막 페이지 이동 화살표">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- pagination -->

            <!-- under_btn -->
            <div class="under_btn">
                <button class="btn_none green_border_btn popupCloseBtn" onclick="closePopup()">닫기</button>
            </div>
            <!-- under_btn -->

        </section>
    </body>


    <script>
        // 팝업을 닫는 함수
        function closePopup() {
            window.close();
        }

        // 재사용 신청 처리 함수 추가
        function requestReusable(resu_no, name, email, user_no) {
            var requestCheck = confirm('승인하시겠습니까?');

            if (requestCheck) {
                let obj = new Object();
                obj['resu_no'] = resu_no;
                obj['name'] = name;
                obj['email'] = email;
                obj['user_no'] = user_no;

                $.ajax({
                    url: '/requestReusable',
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify(obj),
                    success: function(result) {
                        if (result) {
                            //alert(result.result);
                        }
                    }
                })
                .always(() => {
                    window.opener.refreshNow();
                    window.close();
                });
            }
        }
    </script>
</html>

///////////////////////////////
index.js 에 있는 서버 사이드쪽 처리 


// 등록물품관리 신청자확인팝업

app.get('/applicant_checkPopup', async function (req, res) {
	try {
		var resuNo = req.query.resuNo;
		var appliV = false;

		// 첫 번째 쿼리
		// var sql = 'SELECT * FROM tblReusable WHERE nReusableNo=?;';
		// var rinfos = await directQuery(sql, [resuNo]);

		// if (!rinfos || rinfos.length === 0) {
		// 	return res.status(404).send('데이터를 찾을 수 없습니다.');
		// }

		// if (rinfos[0].nApplicantState != 0) {
		// 	appliV = true;
		// }

		// 두 번째 쿼리
		sql = 'SELECT * FROM tblReusableApplicant WHERE nReusableNo=?;';
		var rinfos_list = await directQuery(sql, [resuNo]);

		var arr_aplic = [];

		if (rinfos_list.length > 0) {
			for (var idx = 0; idx < rinfos_list.length; idx++) {
				var userID = rinfos_list[idx].sApplicantNumber;

				console.log(userID);

				if (userID == '210597') {
					var jsonData = { 'userid': '210597', 'potalId': 'atdtest02', 'name': '원격교육센터 02', 'class': '총무부', 'mail': 'kbw5636@kounosoft.com', 'tel': '010-9318-5636' };
					arr_aplic.push(jsonData);
				}
				else if (userID == '597210') {
					var jsonData = { 'userid': '597210', 'potalId': 'test_esgasset01', 'name': '테스트자산관리01', 'class': '공과대학행정팀', 'mail': 'jaebeen2@kounosoft.com', 'tel': '010-6277-4800' };
					arr_aplic.push(jsonData);
				}
				else if (userID == '666308') {
					var jsonData = { 'userid': '666308', 'potalId': 'test_esgasset02', 'name': '테스트자산관리02', 'class': '학생지원팀', 'mail': 'sizin@kounosoft.com', 'tel': '010-3380-4340' };
					arr_aplic.push(jsonData);
				}
				else if (userID == '') {

				}
				else {
					sql = 'SELECT distinct(b.sName) org, a.sName name,a.sEmail email, a.sTel tel, a.nPermission permission ';
					sql += 'FROM tblUser a,tblOrganization b ';
					sql += 'WHERE a.sNumber=? and a.nOrgIdx=b.nIndex';
					var res_org = await directQuery(sql, [userID]);

					jsonData = { 'userid': userID, 'potalId': userID, 'name': res_org[0].name, 'class': res_org[0].org, 'mail': res_org[0].email, 'tel': res_org[0].tel };
					arr_aplic.push(jsonData);
				}
			}
		}



		res.render("applicant_checkPopup", { idx: req.session.user.name, uname: req.session.user.name, userid: req.session.user.userid, permission: req.session.user.permission, stdtype: req.session.user.stdtype, modex: req.session.mode, resuNo: resuNo, arr_aplic: arr_aplic, appliV: appliV });
	} catch (error) {
		console.error('Error in applicant_checkPopup:', error);
		res.status(500).send('서버 오류가 발생했습니다');
	}
});
